<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photosnap</title>
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    
    <!-- HEADER - MENU -->
   <header>
        <div class="w-25 d-flex justify-content-center align-items-center">
            <a href="index.html"><h3 class="menu-logo">PHOTO<span>BOOK</span></h3></a>
        </div>

        <input type="checkbox" id="menu" >
        <label for="menu" class="bar-menu"></label>

        <nav class="menu d-flex justify-content-around align-items-center">
            <ul class="m-0">
                <li>
                    <a href="../index.html" class="nav-link">INICIO</a>
                </li>
                <li>
                    <a href="./stories.html" class="nav-link">HISTORIAS</a>
                </li>
                <li>
                    <a href="./about.html" class="nav-link active">SOBRE NOSOTROS</a>
                </li>
            </ul>

            <button class="btn btn-login btn-100-sm mb-8-sm" >INGRESAR</button>
        </nav>
    </header>
    <!-- END HEADER - MENU -->

    <main class="container-fluid p-0">
        <!-- FIRST SECTION -->
        <section class="sections row bg-blueDark w-100 m-0 p-0 d-flex">
            <div class="col-lg-5 col-md-7 col-sm-12 d-flex flex-column justify-content-center px-md-5 py-sm-5 px-sm-0 order-small-1">
                <div class="bar-gradient d-sm-none d-md-block"></div>
                <h2 class="ms-lg-4 ms-md-1 fw-bold px-lg-5 px-sm-5 px-md-2 fz-40 text-white w-75 letter-spacing-5">DESCRUBE EL VERDADERO POTENCIAL DE TUS FOTOGRAFIAS</h2>
            </div>
            <div class="col-lg-7 col-md-5 col-sm-12 p-0 overflow-hidden order-small-0 container-img">
                <img class="img-fluid img-response img-fluids" src="../img/banner-contact.jpg" alt="Fotografia">
            </div>
        </section>
        <!-- END FIRST SECTION -->

        <section class="sections row w-100 m-0 p-0 bg-blueDark">
            <div class="col-lg-7 col-md-5 col-sm-12 p-0 overflow-hidden h-100 container-img">
                <img class="img-fluid img-response img-fluids" src="../img/banner-2-contact.jpg" alt="Ilustracion de fotografia">
            </div>
            <div class="col-lg-5 col-md-7 col-sm-12 d-flex flex-column justify-content-center px-5 py-sm-5">   
                <p class="w-md-75 w-sm-100 text-white mx-auto fz-24">
                    Trabaja de forma inteligente,
                    entendiendo y anticipando todo los
                    cambios que se presentan en tu
                    mercado.
                </p>
            </div>
        </section>

        <section class="section-banner position-relative top-0 d-flex">
            <div class="bar-gradient-contact h-100 position-absolute"></div>
            <div class="container-banner w-100 fz-32 text-uppercase">
                <img class="w-100 h-100" src="../img/bg-beta.jpg" alt="">  
                <div class="w-100 d-flex justify-content-between position-absolute content-bottom">
                    <h6 class="text-white fz-40">Muestranos tu arte</h6>
                    <div class="d-flex">
                        <a href="" class="links space-1 px-5 px-sm-0">CREA UNA CUENTA</a>
                        <svg class="fill-white mt-2" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                    </div>
                </div> 
            </div>
        </section>

    </main>

    <!-- Descubre el verdadero potencial de tu
empresa gracias a internet                 <p class="text-principaly">En Photobook puedes publicar tus fotografias, además de añadirles una historia para que sea mucho más interesante.</p>-->


<!--  -->
    <footer>
        <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M1.98,-5.42 C-139.67,-21.20 -28.49,1.48 500.84,141.61 L500.00,0.00 L1.98,-7.39 Z" style="stroke: none; fill: #fff;"></path></svg></div>

        <div class="footer-container">
            <div class="section-social">
                 <h3 class="logo-negativo">PHOTO<span>BOOK</span></h3>

                <div class="redes mt-32">
                    <img src="../img/iconos/facebook.svg" alt="">
                    <img src="../img/iconos/instagram.svg" alt="">
                    <img src="../img/iconos/twitter.svg" alt="">
                    <img src="../img/iconos/youtube.svg" alt="">
                    <img src="../img/iconos/pinterest.svg" alt="">                        
                </div>
            </div>
            <div class="navegation-footer mt-sm-64">
                <div class="links-group">
                    <a href="" class="links">HOME</a>
                    <a href="" class="links">STORIES</a>
                    <a href="" class="links">PRICING</a>
                </div>
                <div class="d-flex pt-32 justify-center mt-sm-80">
                    <a href="" class="links space-1 mr-24">REGISTRARSE</a>
                    <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                </div>

                <div class="w-200 w-100-sm mb-32-sm text-left-sm order-1-sm">
                    <label for="searchPhoto" class="text-white">Buscar una foto</label>
                    <input type="text" name="searchPhoto" id="searchPhoto" class="form-control" placeholder="Ingresa la categoria del tema que quieres buscar">
                    <input type="button" value="Buscar" class="btn btn-white btn-100-sm" onclick="validateSearch()">
                </div>
            </div>  


        </div>
    </footer>
   
    <!-- SWEET ALERT -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- SCRIPTS CUSTOM -->
    <script src="../js/app.js"></script>
</body>
</html>