<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photosnap</title>
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/story.css">
</head>
<body>
    
   <!-- HEADER - MENU -->
   <header>
        <div class="w-25 d-flex justify-content-center align-items-center">
            <a href="index.html"><h3 class="menu-logo">PHOTO<span>BOOK</span></h3></a>
        </div>

        <input type="checkbox" id="menu" >
        <label for="menu" class="bar-menu"></label>

        <nav class="menu d-flex justify-content-around align-items-center">
            <ul class="m-0">
                <li>
                    <a href="../index.html" class="nav-link">INICIO</a>
                </li>
                <li>
                    <a href="./stories.html" class="nav-link active">HISTORIAS</a>
                </li>
                <li>
                    <a href="./about.html" class="nav-link">SOBRE NOSOTROS</a>
                </li>
            </ul>

            <button class="btn btn-login btn-100-sm mb-8-sm" >INGRESAR</button>
        </nav>
    </header>
    <!-- END HEADER - MENU -->


    <main>
        <section class="story-view row p-0 m-0">
            <img class="img-background p-0 col-sm-12" src="../img/stories/pic0-moon-of-appalacia.jpg" alt="">

            <div class="position-absolute d-flex flex-column justify-content-center top-0 h-100 w-lg-50 w-sm-100 px-md-3 px-lg-5 text-white col-sm-12 top-content px-sm-0">
                <strong class="favorite-story mb-lg-4 mb-md-2 px-5">HISTORIA DESTACADA DEL MES PASADO</strong>
                <h3 class="fw-bold px-5 fz-40 text-white w-75 space-2 mb-5">LUNA LLENA DE APPALACHIA</h3>

                <span class="date-story px-5 mb-5 color-grayLight">2 de Marzo del 2020 <em class="text-white">  by John Appleseed</em></span>

                <p class="text-principaly px-5 mb-5 color-grayLight">La zona de la meseta disecada, aunque en realidad no está formada por montañas geológicas, se llama popularmente "montañas", especialmente en el este de Kentucky y Virginia Occidental, y aunque las crestas no son altas, el terreno es extremadamente accidentado.</p>

                <div class="d-flex  px-5">
                    <a href="" class="links space-1 ms-24">VER HISTORIA</a>
                    <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                </div>
            </div>
        </section>
           <!-- GALERY -->
           <section class="grid-gallery w-100 p-0 m-0">
                <div class="row h-450 h-md-auto w-100 m-0">
                    <!-- ITEM 1 -->
                    <article class="item-gallery col-xl-3 col-md-6 col-sm-12 p-0">
                        <img class="img-response" src="../img/stories/pic-1-story.jpg" alt="Stories">
                        <div class="stories">
                            <div class="border-bottom container-title-story">
                                <h3>Arquitectura</h3>
                                <span>Por John Appleseed</span>
                            </div>
                            <div class="w-100 d-flex justify-between">
                                <a class="links" href="">Leer Historia</a>
                                <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                            </div>
                        </div>
                        <div class="bar-gradient-horizontal"></div>
                    </article>

                    <!-- ITEM 2 -->
                    <article class="item-gallery col-xl-3 col-md-6 col-sm-12 p-0">
                        <img class="img-response" src="../img/stories/pict7-land-of-dreams.jpg" alt="Stories">
                        <div class="stories">
                            <div class="border-bottom container-title-story">
                                <h3>Estructura Mediterranea</h3>
                                <span>Por John Appleseed</span>
                            </div>
                            <div class="w-100 d-flex justify-between">
                                <a class="links" href="">Leer Historia</a>
                                <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                            </div>
                        </div>
                        <div class="bar-gradient-horizontal"></div>
                    </article>

                    <!-- ITEM 3 -->
                    <article class="item-gallery col-xl-3 col-md-6 col-sm-12 p-0">
                        <img class="img-response" src="../img/stories/pict3-behind-the-waves.jpg" alt="Stories">
                        <div class="stories">
                            <div class="border-bottom container-title-story">
                                <h3>Olas de Mar</h3>
                                <span>Por John Appleseed</span>
                            </div>
                            <div class="w-100 d-flex justify-between">
                                <a class="links" href="">Leer Historia</a>
                                <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                            </div>
                        </div>
                        <div class="bar-gradient-horizontal"></div>
                    </article>

                    <!-- ITEM 4 -->
                    <article class="item-gallery col-xl-3 col-md-6 col-sm-12 p-0">
                        <img class="img-response" src="../img/stories/pict2-running-free.jpg" alt="Stories">
                        <div class="stories">
                            <div class="border-bottom container-title-story">
                                <h3>Naturaleza</h3>
                                <span>Por Adien Mason</span>
                            </div>
                            <div class="w-100 d-flex justify-between">
                                <a class="links" href="">Leer Historia</a>
                                <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                            </div>
                        </div>
                        <div class="bar-gradient-horizontal"></div>
                    </article>
                </div>

                <div class="row h-450 h-md-auto w-100 m-0">
                    <!-- ITEM 5 -->
                    <article class="item-gallery col-xl-3 col-md-6 col-sm-12 p-0">
                        <img class="img-response" src="../img/stories/pic-5-story.jpg" alt="Stories">
                        <div class="stories">
                            <div class="border-bottom container-title-story">
                                <h3>Sombras</h3>
                                <span>Por John Anderson</span>
                            </div>
                            <div class="w-100 d-flex justify-between">
                                <a class="links" href="">Leer Historia</a>
                                <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                            </div>
                        </div>
                        <div class="bar-gradient-horizontal"></div>
                    </article>

                    <!-- ITEM 6 -->
                    <article class="item-gallery col-xl-3 col-md-6 col-sm-12 p-0">
                        <img class="img-response" src="../img/stories/pic9-trip-to-nowhere.jpg" alt="Stories">
                        <div class="stories">
                            <div class="border-bottom container-title-story">
                                <h3>Preciado Oasis</h3>
                                <span>Por Andrew Jhonsson</span>
                            </div>
                            <div class="w-100 d-flex justify-between">
                                <a class="links" href="">Leer Historia</a>
                                <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                            </div>
                        </div>
                        <div class="bar-gradient-horizontal"></div>
                    </article>

                    <!-- ITEM 7 -->
                    <article class="item-gallery col-xl-3 col-md-6 col-sm-12 p-0" >
                        <img class="img-response" src="../img/stories/pic-7-story.jpg" alt="Stories">
                        <div class="stories">
                            <div class="border-bottom container-title-story">
                                <h3>El Metro</h3>
                                <span>Por John Appleseed</span>
                            </div>
                            <div class="w-100 d-flex justify-between">
                                <a class="links" href="">Leer Historia</a>
                                <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                            </div>
                        </div>
                        <div class="bar-gradient-horizontal"></div>
                    </article>

                    <!-- ITEM 8 -->
                    <article class="item-gallery col-xl-3 col-md-6 col-sm-12 p-0">
                        <img class="img-response" src="../img/stories/pic-8-story.jpg" alt="Stories">
                        <div class="stories">
                            <div class="border-bottom container-title-story">
                                <h3>Barrio</h3>
                                <span>Por Carla Morrison</span>
                            </div>
                            <div class="w-100 d-flex justify-between">
                                <a class="links" href="">Leer Historia</a>
                                <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                            </div>
                        </div>
                        <div class="bar-gradient-horizontal"></div>
                    </article>
                </div>

                <div class="row h-450 h-md-auto w-100 m-0">
                    <!-- ITEM 9 -->
                    <article class="item-gallery col-xl-3 col-md-6 col-m -12p-0">
                        <img class="img-response" src="../img/stories/pic-9-story.jpg" alt="Stories">
                        <div class="stories">
                            <div class="border-bottom container-title-story">
                                <h3>Black and White</h3>
                                <span>Por Carla Morrison</span>
                            </div>
                            <div class="w-100 d-flex justify-between">
                                <a class="links" href="">Leer Historia</a>
                                <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                            </div>
                        </div>
                        <div class="bar-gradient-horizontal"></div>
                    </article>

                    <!-- ITEM 10 -->
                    <article class="item-gallery col-xl-3 col-md-6 col-sm-12 p-0">
                        <img class="img-response" src="../img/stories/pict7-somwarpet.jpg" alt="Stories">
                        <div class="stories">
                            <div class="border-bottom container-title-story">
                                <h3>Flores de Jardín</h3>
                                <span>Por Kany Jhonsson</span>
                            </div>
                            <div class="w-100 d-flex justify-between">
                                <a class="links" href="">Leer Historia</a>
                                <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                            </div>
                        </div>
                        <div class="bar-gradient-horizontal"></div>
                    </article>

                    <!-- ITEM 11 -->
                    <article class="item-gallery col-xl-3 col-md-6 col-sm-12 p-0">
                        <img class="img-response" src="../img/stories/pic-11-story.jpg" alt="Stories">
                        <div class="stories">
                            <div class="border-bottom container-title-story">
                                <h3>Pintura</h3>
                                <span>Por John Jhonsson</span>
                            </div>
                            <div class="w-100 d-flex justify-between">
                                <a class="links" href="">Leer Historia</a>
                                <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                            </div>
                        </div>
                        <div class="bar-gradient-horizontal"></div>
                    </article>

                    <!-- ITEM 12 -->
                    <article class="item-gallery col-xl-3 col-md-6 col-sm-12 p-0">
                        <img class="img-response" src="../img/stories/pic1-mountains.jpg" alt="Stories">
                        <div class="stories">
                            <div class="border-bottom container-title-story">
                                <h3>Rocas con Nieve</h3>
                                <span>Por Clarence Appleseed</span>
                            </div>
                            <div class="w-100 d-flex justify-between">
                                <a class="links" href="">Leer Historia</a>
                                <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                            </div>
                        </div>
                        <div class="bar-gradient-horizontal"></div>
                    </article>
                </div>
     
                <div class="row h-450 h-md-auto w-100 m-0">
                    <!-- ITEM 13 -->
                    <article class="item-gallery col-xl-3 col-md-6 col-sm-12 p-0">
                        <img class="img-response" src="../img/stories/pic7-unforeseen-corners.jpg" alt="Stories">
                        <div class="stories">
                            <div class="border-bottom container-title-story">
                                <h3>Cielo Rojizo</h3>
                                <span>Por Kim Coleman</span>
                            </div>
                            <div class="w-100 d-flex justify-between">
                                <a class="links" href="">Leer Historia</a>
                                <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                            </div>
                        </div>
                        <div class="bar-gradient-horizontal"></div>
                    </article>

                    <!-- ITEM 14 -->
                    <article class="item-gallery col-xl-3 col-md-6 col-sm-12 p-0">
                        <img class="img-response" src="../img/stories/pic5-world-tour.jpg" alt="Stories">
                        <div class="stories">
                            <div class="border-bottom container-title-story">
                                <h3>Lago</h3>
                                <span>Por Donald Kurm</span>
                            </div>
                            <div class="w-100 d-flex justify-between">
                                <a class="links" href="">Leer Historia</a>
                                <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                            </div>
                        </div>
                        <div class="bar-gradient-horizontal"></div>
                    </article>


                    <!-- ITEM 15 -->
                    <article class="item-gallery col-xl-3 col-md-6 col-sm-12 p-0">
                        <img class="img-response" src="../img/stories/pict6-dark-forest.jpg" alt="Stories">
                        <div class="stories">
                            <div class="border-bottom container-title-story">
                                <h3> Montañas</h3>
                                <span>Por John Appleseed</span>
                            </div>
                            <div class="w-100 d-flex justify-between">
                                <a class="links" href="">Leer Historia</a>
                                <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                            </div>
                        </div>
                        <div class="bar-gradient-horizontal"></div>
                    </article>


                    <!-- ITEM 16 -->
                    <article class="item-gallery col-xl-3 col-md-6 col-sm-12 p-0">
                        <img class="img-response" src="../img/stories/pict4-calm-waters.jpg" alt="Stories">
                        <div class="stories">
                            <div class="border-bottom container-title-story">
                                <h3>El Horizonte</h3>
                                <span>Por John Appleseed</span>
                            </div>
                            <div class="w-100 d-flex justify-between">
                                <a class="links" href="">Leer Historia</a>
                                <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                            </div>
                        </div>
                        <div class="bar-gradient-horizontal"></div>
                    </article>

                </div>
                

                
        </section>
        <!-- END GALERY -->
    </main>


    <footer>
        <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M1.98,-5.42 C-139.67,-21.20 -28.49,1.48 500.84,141.61 L500.00,0.00 L1.98,-7.39 Z" style="stroke: none; fill: #fff;"></path></svg></div>

        <div class="footer-container">
            <div class="section-social">
                 <h3 class="logo-negativo">PHOTO<span>BOOK</span></h3>

                <div class="redes mt-32">
                    <img src="../img/iconos/facebook.svg" alt="">
                    <img src="../img/iconos/instagram.svg" alt="">
                    <img src="../img/iconos/twitter.svg" alt="">
                    <img src="../img/iconos/youtube.svg" alt="">
                    <img src="../img/iconos/pinterest.svg" alt="">                        
                </div>
            </div>
            <div class="navegation-footer mt-sm-64">
                <div class="links-group">
                    <a href="" class="links">HOME</a>
                    <a href="" class="links">STORIES</a>
                    <a href="" class="links">PRICING</a>
                </div>
                <div class="d-flex pt-32 justify-center mt-sm-80">
                    <a href="" class="links space-1 mr-24">REGISTRARSE</a>
                    <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                </div>

                <div class="w-200 w-100-sm mb-32-sm text-left-sm order-1-sm">
                    <label for="searchPhoto" class="text-white">Buscar una foto</label>
                    <input type="text" name="searchPhoto" id="searchPhoto" class="form-control" placeholder="Ingresa la categoria del tema que quieres buscar">
                    <input type="button" value="Buscar" class="btn btn-white btn-100-sm" onclick="validateSearch()">
                </div>
            </div>  
        </div>
    </footer>



        <!-- SWEET ALERT -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <!-- BOOTSTRAP CDN JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <!-- SCRIPTS CUSTOM -->
        <script src="../js/app.js"></script>
</body>
</html>